*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background-color: aliceblue;
}

header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    border: 2px solid;
    padding: 3px;
    background-color: rgb(245, 174, 123);
    font-family: sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
  

